*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    border: none;
    --gapnavigation : 1vw;
    scroll-behavior: smooth;
    color: white;
    list-style: none; 
}

body{
    background: linear-gradient(#1a1b18 ,  #10110f , #1a1b18);
    width: 100%;
    height: 100%;
    margin-top: 2.5vh;
    
}

/* ---------------------- */
/*         HEADER        */
/* ---------------------- */

header{
    background: linear-gradient(#1a1b18 ,  rgb(39, 42, 48) , #1a1b18);
    width: 100%;
    height: 60px;
    padding:0px;
    margin: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    z-index: 2;

    border: 2px solid gray;
    border-radius: 5px;

    font-size: min(2vw , 1.2em); 
    color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav{ 
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0;
    margin-inline: 0;
}
header a {
    text-decoration: none;
}

header ul{
    margin-inline: 0;
    gap: var(--gapnavigation);
    display: flex;
    justify-content: center;   
    gap: var(--gapnavigation);
 
}

/*  nav logo */

.navlogo-logo{
    filter: invert(49%) sepia(94%) saturate(2525%) hue-rotate(161deg) brightness(95%) contrast(101%);
    position: absolute;
    top: 35%;
    
    width: 10%;
    height: 30%;

    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/*  nav logo */



/* ---------------------- */
/*   Account Perfil Nav   */
/* ---------------------- */





.nav-perfil-div{  
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
}

.navaccount{
    margin-right: 0.25em;
    background-color: transparent;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;    
}

.nav-account-perfil{  
    height: 65px;
    width: 65px;

    border-radius: 50%;
    border: 4px solid rebeccapurple;
 
    background-image: url(img/merperfil.gif);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.dropdown-test{
position: absolute;
top: 0;
background-color: rgb(64, 63, 78);
opacity: 95%;
width: 15%;
height: 320px;
z-index: auto;
padding-left: 10px;
}


/* ---------------------- */
/*   Account Perfil Nav   */
/* ---------------------- */



/* ---------------------- */
/*         SLIDER         */
/* ---------------------- */

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100vw;
    height: min(19em);
    margin-inline: auto;
    object-fit: cover;
    z-index: 0;
    position: relative;
    top: -35px;
    margin-bottom: -10px;
   
}

.imagemteste{
    object-fit:cover;
    object-position: 50% 70%;
    height: 100%;
    width: 2000px;
    margin: 0;
    z-index: 2;
    border-radius: 7px;
    }

/* ---------------------- */
/*        main section     */
/* ---------------------- */


main section{
    display: flex;
    justify-content: center;
}

.main-block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #10110f;
    width: 85vw;
    height: 700px;

 
    border: 1px solid gray;
    border-radius: 5px;
    border-collapse: collapse;

    position: relative;
    top: calc( -65px - 2vh) ;
}

/* -----------*/
/*  Main Menu */
/* ---------- */


.main-header{
    /* background-color: rgb(71, 67, 67); */
    background-color: #0F0F0F;
    height: 30px;
    width: 85%;
    border: 1px solid gray;
    border-collapse: collapse;
    margin-block: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;

    align-items: center; 
}

header a:visited {
    color: inherit;
}


.main-header ul {
   display: flex;
   gap: 10px;
   margin-left: 10px;
   margin-right: 10px;
}
.main-block-content{
    background-color: #0F0F0F;
    height: 100%;
    width: 85%;
    border: 1px solid gray;
    justify-content: space-between;
    margin-block: 0;
    padding: 0;

    display: flex;
    align-items: center;
}

/* -----------*/
/*  Main Menu LEFT */
/* ---------- */

.main-network{
    background-color: #0F0F0F;
    height: 30px;
    width: 15%;
    border: 1px solid gray;
    text-align: center;

    margin-block: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}


.test2{
    background-color: #0F0F0F;
    height: 100%;
    width: 15%;
    border: 1px solid gray;
    text-align: left;
    vertical-align: middle;
    margin-block: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}